html, body {
  margin: 0px;
  padding: 0px;
}

body {
  background: #fff;
  padding-top: 62px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
}
header .navbar {
  height: 62px;

  .navbar-brand {
    background: url('/assets/images/hex.svg')no-repeat center left;
    background-size: 17%;
    padding-left: 50px;
  }
  .container-fluid {
    justify-content: left;
  }
}
.flex-container {
  display: flex;
}

.menu-desktop {
  width: 20%;
  max-width: 320px;
  min-width: 200px;
  background: #eee;
  height: 100vh;
}
