html, body {
  margin: 0px;
  padding: 0px;
  background: var(--hexGlobalGrey3);
}

body {
  padding-top: 62px;
}
.content {
  background: var(--hexGlobalGrey1);
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
}
header .navbar {
  height: 62px;
  background-color: var(--hexGlobalGrey2) !important;

  .navbar-brand {
    background: url('../../assets/images/hex.svg')no-repeat center left;
    background-size: 17%;
    padding-left: 50px;
  }
  .container-fluid {
    justify-content: left;
  }
}
.intro {
  display: none;
}

.flex-container {
  display: flex;
}
.content {
  width: 100%;
}
.page.container {
  padding-bottom: 80px;
  height: clamp(400px, auto, 100vh);
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.menu-desktop {
  position: fixed;
  background: var(--hexGlobalGrey2);
  width: clamp(200px, 320px, 20%);
  height: 100vh;
}

footer {
  background: var(--hexGlobalGrey3);
  padding: 80px 0px;
  height: clamp(200px, 100%, 400px);
}
