html, body {
  margin: 0px;
  padding: 0px;
}

body {
  background: #fff;
  padding-top: 62px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
}
header .navbar {
  height: 62px;
  background-color: var(--green-6) !important;

  .navbar-brand {
    background: url('../../assets/images/hex.svg')no-repeat center left;
    background-size: 17%;
    padding-left: 50px;
  }
  .container-fluid {
    justify-content: left;
  }
}

.flex-container {
  display: flex;
}
.content {
  width: 100%;
}
.page.container {
  padding-top: 80px;
  padding-bottom: 80px;
  height: clamp(400px, 80vh, 100vh);
}

.menu-desktop {
  position: fixed;
  width: clamp(200px, 320px, 20%);
  background: #eee;
  height: 100vh;
}

footer {
  background: #dbdbdd;
  padding: 80px 0px;
  height: clamp(200px, 100%, 400px);
}
