:root {
  --green-10: #054629;
  --green-9: #0C643D;
  --green-8: #01A754;
  --green-7: #0ECD6E;
  --green-6: #19E57F;
  --green-5: #39F492;
  --green-4: #5EF7A7;
  --green-3: #96FCC7;
  --green-2: #B6FCD7;
  --green-1: #D1FFE7;

  --grey-10: #000000;
  --grey-9: #1E1E1E;
  --grey-8: #3C3C3C;
  --grey-7: #595959;
  --grey-6: #777777;
  --grey-5: #949494;
  --grey-4: #B2B2B2;
  --grey-3: #D0D0D0;
  --grey-2: #F3F4F6;
  --grey-1: #FFFFFF;

  --blue-10: #01173A;
  --blue-9: #02204F;
  --blue-8: #081D4C;
  --blue-7: #0B396E;
  --blue-6: #28639E;
  --blue-5: #6F95BA;
  --blue-4: #9EAEC7;
  --blue-3: #BFC8D6;
  --blue-2: #D8DDE5;
  --blue-1: #F4F6FA;

  --electric-10: #060050;
  --electric-9: #00068E;
  --electric-8: #0228A3;
  --electric-7: #0533D8;
  --electric-6: #1A1DFF;
  --electric-5: #3262F9;
  --electric-4: #6286F9;
  --electric-3: #8FA9FF;
  --electric-2: #B5C6FF;
  --electric-1: #D9E2FF;

  --yellowstone-10: #7E4C00;
  --yellowstone-9: #9F6900;
  --yellowstone-8: #CE8800;
  --yellowstone-7: #EBAA02;
  --yellowstone-6: #FCBA00;
  --yellowstone-5: #F9C73D;
  --yellowstone-4: #FCDF63;
  --yellowstone-3: #FCE39D;
  --yellowstone-2: #F9ECC7;
  --yellowstone-1: #FBF4DF;

  --ruby-10: #4E0018;
  --ruby-9: #760024;
  --ruby-8: #9B0231;
  --ruby-7: #D10242;
  --ruby-6: #FF0647;
  --ruby-5: #FC427C;
  --ruby-4: #FC7EA5;
  --ruby-3: #FF9EBE;
  --ruby-2: #FFC8DA;
  --ruby-1: #F6E1E8;

  --mint-10: #005B52;
  --mint-9: #008D80;
  --mint-8: #00BFAC;
  --mint-7: #05DDC8;
  --mint-6: #33E5D4;
  --mint-5: #56FAF0;
  --mint-4: #90FCF1;
  --mint-3: #AFF9F2;
  --mint-2: #C7FFF4;
  --mint-1: #E0FFF8;
}
