---
layout: default
title: Modal
permalink: /modal
---

<div class="container">

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-1">
    Basic modal
  </button>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Modal with scroll
  </button>


  <!-- Vertically centered modal -->
  <div class="modal fade" id="modal-1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal 1</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>...</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>



  <!-- Vertically centered scrollable modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal with scroll</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Fames tincidunt adipiscing eros gravida sit luctus facilisis auctor. Interdum class maecenas, rutrum senectus finibus vehicula pulvinar venenatis at. Purus odio quisque ornare conubia lorem gravida aliquet sollicitudin. Vivamus molestie pellentesque; nam luctus tempus ex dolor et. Eros fermentum ut proin viverra duis duis tincidunt. Penatibus fusce libero dui porta semper facilisis lorem dictum.</p>

          <p>Est mus elit aenean est torquent eu enim. Maecenas ex eleifend finibus tortor ex rutrum fermentum. Dignissim et placerat felis inceptos tempor. Ultrices ridiculus class laoreet; varius netus donec primis. Mi congue vestibulum tortor ac semper class orci efficitur. Nisi leo tortor in vehicula blandit nulla; ac ultricies. Hendrerit nisi nunc et mus metus in dapibus. Volutpat litora tortor magna rutrum a parturient natoque morbi. Nisl ante ultrices viverra, integer ex tempor eleifend. Odio tortor egestas porttitor erat diam; magnis nec interdum convallis?</p>

          <p>Ex bibendum suscipit finibus finibus aliquam nam. Suscipit ac amet potenti curabitur primis. Facilisis eros aliquet volutpat nunc adipiscing gravida inceptos. Penatibus ligula taciti diam efficitur interdum eros. Cubilia magna mauris sed feugiat volutpat; proin integer nec. Risus et faucibus morbi; hac quisque et. Dignissim montes himenaeos curae venenatis quam tempus. Morbi consectetur congue nam vulputate nunc bibendum laoreet imperdiet integer. Integer massa bibendum enim maximus tristique tellus adipiscing. Efficitur semper class cras cubilia consequat nascetur lorem.</p>

          <p>Enim volutpat amet etiam, eget sociosqu non. Consequat commodo nulla condimentum quam donec. Gravida pellentesque fringilla dis; feugiat condimentum erat vehicula proin. Tempus integer ad lacus; litora ante consectetur. Erat feugiat fringilla vel lacus pharetra dui sapien faucibus. Potenti himenaeos justo, penatibus viverra fames interdum. Ultricies vulputate aliquet semper varius eu fringilla risus. Curae odio cursus nisi class efficitur torquent leo ut vulputate. Magnis mi condimentum lacus sed duis. Curabitur mus tempus mattis pretium enim tortor laoreet phasellus.</p>

          <p>Quis nisi tempor quis gravida vel mollis pretium venenatis litora. In adipiscing sagittis potenti, nascetur luctus natoque velit porttitor. Dictumst tempus primis rutrum sapien rutrum venenatis sociosqu scelerisque aenean. Fames enim nullam curae porttitor accumsan ullamcorper. Sit sapien conubia mi, arcu interdum sit. Cras malesuada integer maecenas ex aenean efficitur, parturient praesent. Habitant imperdiet nec eu habitant venenatis vel risus. Massa consectetur eleifend risus mattis mattis vestibulum.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>

</div>
